body {
    background-color: #999999;
}

div.image-group {
}

span.thumbnail {
    display: inline-flex;
    background-color: #555555;
    border: solid white;
    padding: 10px;
    margin: 5px;
}

span.thumbnail img {
    height: 250px;
    width: 300px;
    object-fit: contain;
}
